services:
  zephyr:
    build: .
    image: zephyr
    container_name: zephyr
    hostname: zephyr
    user: user:user
    privileged: true
    tty: true
    stdin_open: true
    group_add:
      - audio
      - dialout
      - plugdev
      - sudo
      - video
    environment:
      TERM: xterm-256color
      COLORTERM: truecolor
      FORCE_COLOR: true
      DISPLAY: ${DISPLAY}
      QT_X11_NO_MITSHM: 1
    volumes:
      - /dev:/dev
      - /etc/localtime:/etc/localtime:ro
      - /tmp/.X11-unix:/tmp/.X11-unix
      - .:/workdir
    tmpfs:
      - /tmp
    extra_hosts:
      - "host.docker.internal:host-gateway"
