menuconfig HALL_RPM
    bool "Hall-effect gear tooth speed sensor"
    default y
    depends on DT_HAS_HALL_RPM_ENABLED
    help
      Enable driver for hall-effect gear tooth speed sensor.

if HALL_RPM

endif # HALL_RPM
