config GPIO_74HC595
    bool "Diodes Incorporated 74HC595 shift register as GPIO extender"
    default y
    depends on DT_HAS_DIODES_74HC595_ENABLED
    depends on SPI
    help
      Enable driver for 74HC595 shift register as GPIO extender

if GPIO_74HC595

config GPIO_74HC595_INIT_PRIORITY
    int "Init priority"
    default 71
    help
      Device driver initialization priority.

endif
