config INPUT_DASHBOARD
    bool "NTU Racing dashboard indicator LEDs"
    default y
    depends on DT_HAS_NTURT_DASHBOARD_ENABLED
    depends on CANOPENNODE
    help
      Enable driver for dashboard indicators

if INPUT_DASHBOARD

endif
