menuconfig P51_CURR
    bool "SSI Technologies P51 series pressure sensor with current output"
    default y
    depends on DT_HAS_SSI_P51_CURR_ENABLED
    help
      Enable driver for P51 series pressure sensor.

if P51_CURR

endif # P51_CURR
