menuconfig SERVO
    bool "Servo Motor Drivers"
    help
      Enable config options for servo drivers.

if SERVO

module = SERVO
module-str = servo
source "subsys/logging/Kconfig.template.log_config"

config SERVO_INIT_PRIORITY
    int "Servo initialization priority"
    default KERNEL_INIT_PRIORITY_DEVICE
    help
      System initialization priority for servo drivers.

rsource "Kconfig.pwm"

endif # SERVO
